useDynLib(aptdag, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

importFrom(FNN, "get.knnx")
importFrom(GPvecchia, "order_maxmin_exact_obs_pred")
#importFrom(GPvecchia, "findOrderedNN_kdtree2")
importFrom(GPvecchia, "order_maxmin_exact")

S3method("predict", "response.aptdag")
S3method("predict", "response.vecchia")
S3method("predict", "latent.aptdag")
S3method("predict", "latent.vecchia")